<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>header</title>
	<style>
		table tbody tr:nth-child(odd){background:#DFF0D8;}
		table tbody td:nth-child(even){color:#F2DEDE;}
	</style>
</head>

<body>
	<div id="content" th:fragment="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/">仪表盘</a></li>
					<li class="current">日志管理</li>
				</ul>

			</div>
			<!-- /Breadcrumbs line -->

			<!--=== Page Header ===-->
			<div class="page-header">
				<div class="page-title">
					<span th:inline="text">欢迎使用，[[${#httpServletRequest.remoteUser}]]!</span>
				</div>
				<!-- Page Stats -->
				<ul class="page-stats">
					<li>
						<div class="summary">
							<span>总记录数</span>
							<h3 th:text="${total}"></h3>
						</div>
						<!--<div id="sparkline-bar" class="graph sparkline hidden-xs">[[${total}]]</div>
						 Use instead of sparkline e.g. this:
							<div class="graph circular-chart" data-percent="73">73%</div>
						-->

					</li>
					<li>
						<div class="summary">
							<span>访问耗时</span>
							<h3 th:text="${runtime}"></h3>
						</div>

					</li>
				</ul>
				<!-- /Page Stats -->
			</div>
			<!-- /Page Header -->

			<!--=== Page Content ===-->

			<div class="row">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 日志列表
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs ">
										<i class="icon-list"></i>
									</span>
								</div>
							</div>
						</div>
						<div class="content no-padding">
							<table id="grid-data"
								class="table table-condensed table-hover table-striped">
								<thead>
									<tr>
										<th data-column-id="id">序号</th>
										<th data-column-id="title">内容</th>
										<th data-column-id="createTime">时间</th>
										<th data-column-id="ip">ip</th>
										<th data-column-id="mobile">手机</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="log,iterStat  : ${list}">
										<td th:text="${iterStat.index}">index</td>
										<td style="width: 200px;" th:title="${log.content}" th:text="${log.content}"></td>
										<td th:text="${log.createTime}"></td>
										<td th:text="${log.ip}"></td>
										<td th:text="${log.mobile}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>

</body>
</html>
