<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>header</title>
</head>

<body>
	<div id="content" th:fragment="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/">仪表盘</a></li>
					<li class="current">用户管理</li>
				</ul>

			</div>
			<!-- /Breadcrumbs line -->

			<!--=== Page Header ===-->
			<div class="page-header">
				<div class="page-title">
					<span th:inline="text">欢迎使用，[[${#httpServletRequest.remoteUser}]]!</span>
				</div>

			</div>
			<!-- /Page Header -->

			<!--=== Page Content ===-->

			<div class="row">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 增加用户
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs collapse"><i
										class="icon-angle-down"></i></span>
								</div>
							</div>
						</div>
						<div class="content no-padding">
							<form action="#" th:action="@{/user/edit}"
								th:object="${userAdd}" method="post" id="myForm">
								<p>
									名称: <input type="text" th:field="*{username}" />
								</p>
								<p>
									密码: <input type="password" th:field="*{password}" />
								</p>
								<p>
									头像: <input type="text"  th:field="*{image}" />
								</p>
								<p>
									角色:
									<select rows="3" cols="20" th:field="*{roles}" multiple="multiple"
											style="margin-left: 0px;width: 162px">
								<option th:each="e,eStat:${roleList}" th:value="${e.roleno}" th:text="${e.rolename}">

								</option>
									</select>
								</p>
								<p>
									状态:
									<select rows="3" cols="20" th:field="*{enabled}"
										style="margin-left: 0px;width: 162px">
										<option value="1" selected="selected">启用</option>
										<option value="0">禁用</option>
									</select>
								</p>
								<p>
									<input type="submit" value="提交" /> <input type="reset"
										value="重置" />
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Form Validation -->
			<script type="text/javascript"
					src="/plugins/validation/jquery.validate.min.js"></script>
			<script type="text/javascript"
					src="/plugins/validation/localization/messages_zh.js"></script>
			<script  type="text/javascript" src="/plugins/validation/myValidation/userValidation.js"></script>
			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>

</body>
</html>
